@import "./css/variables.css";
@import "./css/utils.css";
@import "./css/components/header.css";
@import "./css/components/cardsSection.css";
@import "./css/components/card.css";
@import "./css/components/footer.css";
@import "./css/components/spinner.css";
@import "./css/components/errorMessage.css";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
