.cards-section {
  background-color: var(--grey-light);
  min-height: 70vh;
  padding: var(--spacing-l) 0;
}

.cards-section__h1 {
  text-align: center;
  font-weight: 400;
  margin-bottom: var(--spacing-l);
}

#cards-content {
  gap: var(--spacing-sm);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
}
