.error-message {
  background-color: rgb(255, 132, 132);
  padding: var(--spacing-l);
  text-align: center;
  border-radius: var(--border-radius);
  width: min(100%, 30rem);
  margin: 0 auto;
  grid-column: 1/-1;
}

.error-message h2 {
  margin-bottom: var(--spacing-sm);
}
