.card {
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 12px 0px #222b371a;
  background-color: #fff;
  font-size: 0.8rem;
  min-height: 14rem;
  padding-right: var(--spacing-l);
}

.card__name {
  font-weight: 700;
}

.card table {
  border-spacing: 0;
  height: 100%;
}

.card td {
  padding: var(--spacing-xs);
  height: 100%;
  vertical-align: top;
}
.card i {
  color: var(--grey-dark);
  font-size: 0.7rem;
}

.card a {
  color: var(--blue);
}

.card tr > td:first-child {
  background-color: var(--grey-medium);
  transition: all 0.2s;
}

.card:hover tr > td:first-child {
  background-color: var(--brand-primary);
  width: 4px;
  overflow: hidden;
  display: block;
  padding: 0;
}

.card:hover tr > td:first-child i {
  display: none;
}

.card tr:first-child > td {
  padding-top: var(--spacing-l);
}

.card tr:last-child > td {
  padding-bottom: var(--spacing-l);
}

.card tr:first-child > td:first-child {
  border-top-left-radius: var(--border-radius);
  height: 100%;
}

.card tr:last-child > td:first-child {
  border-bottom-left-radius: var(--border-radius);
}
