.spinner {
  border: 16px solid var(--brand-secondary);
  border-top: 16px solid var(--brand-primary);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 5rem auto;
  grid-column: 1/-1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
