:root {
  --brand-primary: #a74b96;
  --brand-secondary: #c6d300;
  --grey-light: #fafafa;
  --grey-medium: #e1e1e2;
  --grey-dark: #b1b3b7;
  --black: #222b37;
  --blue: #0094ff;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-l: 2rem;
  --border-radius: 6px;
}
